{% extends 'paginas/modelo.html'  %}

{% load static %}

{% load crispy_forms_tags %}

{% block conteudo %}
    <div class="txt" style="text-align: center;" >
    <h3><b>Editando Formulario</b></h3>
    </div>
    <hr>
      <form action="" method="POST">
        <center>
        <div>
          <table>
              <tr>
                <td>
                  <div>                  
                    <button type="submite" class="btn btn-warning">Salvar Alteraçoes</button></button>
                  </div>
                </td>
                <td>
                  <div>
                      <button type="submite" style="margin-bottom: 0px;  margin-left: 5px; margin-right: 5px;" class="btn btn-dark">voltar</button></button>
                  </div>
                <td>
                  <div>
                  </div>
                </td>
              </td>       
              </tr>
          </table>
      </div>
      </center>
      
        <h2>
        </h2>
        {% csrf_token %}

      <p class="small">
        {{ form|crispy }}
        <center>
        <button type="submite"  class="btn btn-warning">Salvar Alteraçoes</button></button>
        </center>     
      </p>

      
      </form>
    </table>
</div>
{% endblock %}