{% extends 'paginas/modelo.html'  %}

{% load static %}

{% load crispy_forms_tags %}

{% block conteudo %}

    <div class="txt" style="text-align: center;" >
      <h3><b>Visualizando Formulario</b></h3>
    </div>
    <div class="row">
      <div class="container">
          <form action="" method="POST">
            <div class="row justify-content-center ">
              <div>
                <a href="{% url 'listar' %}" class="btn btn-dark">voltar</a>
              </div>

            </div>
              {% csrf_token %} 

              <div hidden>
                {{ form.tipo|as_crispy_field }}
                {{ form.cliente|as_crispy_field }}
                {{ form.fornecedor|as_crispy_field }}
                {{ form.nome|as_crispy_field }}
                {{ form.cnpj|as_crispy_field }}
                {{ form.nr_contato|as_crispy_field }}
                {{ form.email|as_crispy_field }}
                {{ form.validacao_contrato|as_crispy_field }}
                {{ form.validade_certificacao|as_crispy_field }}
                {{ form.descricao|as_crispy_field }}
              </div>


                  
              <div class="row justify-content-center ">
                <div class="col-2 py-2"><b>{{ form.tipo.label }}</b></div>
                <div class="col-6 py-2">{{ form.tipo }}</div>
              </div>
              
              <div class="row justify-content-center">
                <div class="col-2 py-2"><b>{{ form.cliente.label }}</b></div>
                <div class="col-6 py-2">{{ form.cliente }}</div>        
              </div>
                   
              <div class="row justify-content-center">
                <div class="col-2 py-2"><b>{{ form.fornecedor.label }}</b></div>
                <div class="col-6 py-2">{{ form.fornecedor }}</div>
              </div>
            
              <div class="row justify-content-center">
                <div class="col-2 py-2"><b>{{ form.nome.label }}</b></div>
                <div class="col-6 py-2">{{ form.nome }}</div>
              </div>
            
              <div class="row justify-content-center">
                <div class="col-2 py-2"><b>{{ form.cnpj.label }}</b></div>
                <div class="col-6 py-2">{{ form.cnpj }}</div>
              </div>
            
              <div class="row justify-content-center">
                <div class="col-2 py-2"><b>{{ form.email.label }}</b></div>
                <div class="col-6 py-2">{{ form.email }}</div>
              </div>

              <div class="row justify-content-center">
                <div class="col-2 py-2"><b>{{ form.nr_contato.label }}</b></div>
                <div class="col-6 py-2" >{{ form.nr_contato }}</div>
              </div>
            
              <div class="row justify-content-center">
                <div class="col-2 py-2"><b>{{ form.validacao_contrato.label }}</b></div>
                <div class="col-6 py-2">{{ form.validacao_contrato }}</div>
              </div>
            
            
              <div class="row justify-content-center">
                <div class="col-2 py-2"><b>{{ form.validade_certificacao.label }}</b></div>
                <div class="col-6 py-2">{{ form.validade_certificacao }}</div>
              </div>
            
              <div class="row justify-content-center">
                <div class="col-2 py-2"><b>{{ form.descricao.label }}</b></div>
                <div class="col-6 py-2">{{ form.descricao }}</div>
              </div>  

              <div class="row justify-content-center ">
                <div>
                  <a href="{% url 'listar' %}" class="btn btn-dark">voltar</a>
              </div>      
      </form>

</div>
{% endblock %}