{% extends 'paginas/modelo.html'  %}
{% load static %}
{% load crispy_forms_tags %}

{% block conteudo %}

<div class="container col-lg-8"> 

<div class="txt" style="text-align: center;" >
    <h3><b>Lista de Fornecedores</b></h3>
    </div>
<div>

<form action="?" method="GET"></form>
    {% csrf_token %}
    <div class="container">
        <div class="row justify-content-center ">
            <a href="{% url 'fornecedor-cadastro' %}" class="btn btn-success">cadastrar novo fornecedor</a>
        </div>
    </div>
 
<div class="table responsive"></div>
    <table class="table table-striped " id="tabela-fornecedor" border="3">
        <thead>
            <tr> 
                <th width="60%"><center>Fornecedor</center></th>   
                <th width="40%"><center>Opçoẽs</center></th>              
            </tr>
        </thead>
        <tbody>            
            {% for formulario in object_list %}
            <tr>
                <td>{{ formulario.nome }}</td>
                <td>
                    <center>
                        <a href="{% url 'fornecedor-update' formulario.pk %}" class="btn btn-warning btn-sm" 
                        title="Editar">Editar</a>
                        <a href="{% url 'excluir-fornecedor' formulario.pk %}" class="btn btn-danger btn-sm " 
                        title="Excluir">Excluir</a>
                    </center>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="2">Nenhum registro!</td> ></td>
            </tr>
            {% endfor %}
            
        </tbody>

    </table>
</div>
{% endblock %}
{% block scripts %}
<script>
    
    $(document).ready(function(){

        $('#tabela-fornecedor').DataTable({
        responsive: true,
        // "bSort": false,
        "aaSorting": [],
        "pageLength": 50,
        "language": {
            "decimal": "",
            "emptyTable": "Sem dados disponíveis",
            "info": "Mostrando de _START_ até _END_ de _TOTAL_ registos",
            "infoEmpty": "Mostrando de 0 até 0 de 0 registos",
            "infoFiltered": "(filtrado de _MAX_registos no total)",
            "infoPostFix": "",
            "thousands": ",",
            "lengthMenu": "Mostrar _MENU_ registos",
            "loadingRecords": "A carregar dados...",
            "processing": "A processar...",
            "search": "Procurar:",
            "zeroRecords": "Não foram encontrados resultados",
            "paginate": {
                "first": "Primeiro",
                "last": "Último",
                "next": "Seguinte",
                "previous": "Anterior"
            },
            "aria": {
                "sortAscending": ": ordem crescente",
                "sortDescending": ": ordem decrescente"
            }
        }
    });
    
    
    });

</script>
{% endblock %}