{% extends 'paginas/modelo.html'  %}

{% load static %}

{% load crispy_forms_tags %}

{% block conteudo %}

<div class="txt" style="text-align: center;" >
  <h3><b>Cadastrar Fornecedor</b></h3>
  </div>
<div>
  

    <hr>
      <form action="" method="POST">
        
        {% csrf_token %}

        {{ form|crispy }}
        <hr class="">
        <div>
      <center>
        <button type="submite"class="btn btn-success">Cadastrar</button></button>
        <a href="{% url 'listar' %}" class="btn btn-dark">voltar</a>
      </center>
        </div>  
    </form>
    </table>
</div>
{% endblock %}